APP_NAME=laliga-demo
APP_URL=http://localhost:8080
APP_INTERNAL_URL=http://php-apache-3:80

MYSQL_SERVERNAME=mysql-3
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=laliga_db
MYSQL_USER=webapp
MYSQL_PASSWORD=webapp_pass

APACHE_RUN_USER=www-data
APACHE_RUN_GROUP=www-data
